<nav class="navbar fixed-top navbar-expand-sm bg-primary" style="background-color: green !important"
    data-bs-theme="light">

    <!--* Name Navbar  -->
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">Kursus Bahasa</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <!--* Halaman Utama  -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Spesial Wakaf</a>
                </li>


                <!--* Tentang Kami dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="./TentangKami/TentangKami" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Tentang Kami
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="./TentangKami/sejarah">Sejarah</a></li>
                        <li><a class="dropdown-item" href="./TentangKami/VisidanMisi">Visi dan Misi</a></li>
                        <li><a class="dropdown-item" href="./TentangKami/strukturOrganisasi">Struktur
                                Organisasi</a>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sosial Media</a></li>
                    </ul>
                </li>

                <!--* Program dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Program
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Diploma Bahasa Arab</a></li>
                        <li><a class="dropdown-item" href="#">Diploma Ilmi</a></li>
                        <li>
                        <li><a class="dropdown-item" href="#">Diploma Qur'an</a></li>
                        <li>
                        <li><a class="dropdown-item" href="#">Kursus</a></li>
                        <li>
                        <li><a class="dropdown-item" href="#">Takhossus Masyaikh</a></li>
                        <li>
                        <li><a class="dropdown-item" href="#">Talkshow, Kajian kitab dan program spesial</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">S1 Resmi Full Online</a></li>
                    </ul>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="#">E-Learning MS</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>